body{
  background: #4d4d4d;
}
.film{
  display: inline-block;
  margin: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 300px;
  height: 560px;
  padding: 10px;
  background: #fff;
}
.film img{
  padding-left: 25px;
}
.film h1{
  text-align: left;
  margin-top: 20px;
}
.film #btn:hover .text{
  display: block;
  height: 770px;
}
#watch{
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  background: grey;
}